html {
    font:  20px/28px 'Crimson Text', -apple-system,BlinkMacSystemFont,serif;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}
  
body {
    color: var(--black80);
    display: grid;
    grid-gap: 120px;
    justify-items: center;
}

main {
    display: block;
}

h1, h2, h3, h4 {
    margin: 16px 0;
}