/* =============================================
                Position 
==============================================*/

.center-container {
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
}

.center-content { text-align: center; }

.vertical { margin: auto 0; }


/* =============================================
                 Colors 
==============================================*/

:root {
    --black80: rgba(0, 0, 0, .8);
    --black40: rgba(0, 0, 0, .4);
    --black10: rgba(0, 0, 0, .1);
    --gray80: rgba(235, 235, 235, .8);
    --gray40: rgba(235, 235, 235, .4);
}



/* =============================================
                 Fonts 
==============================================*/

:root {
    --title:  bold 8rem sans-serif;
    --subtitle:  bold 2rem sans-serif;
    --logotipo: bold 1rem sans-serif;
    --labels:  normal 1.7rem sans-serif;
    --text:  lighter 1.5rem sans-serif;
    --content:  lighter 1.2rem sans-serif;
}

/* =============================================
                Buttons 
==============================================*/

.btn-link {
    font: var(--text);
    position: relative;
    text-decoration-color: #de4de4;
    color:  #000;
    z-index: 1;
    white-space: nowrap;
}

.btn-link::before {
    content: "";
    position: absolute;
    bottom: 0.05rem;
    left: -0.2rem;
    width: calc(100% + 0.4rem);
    height: 1.7rem;
    background-color: #de4de4;
    border-radius: 4px;
    opacity: 0.2;
    transform: scale(1, 0.2);
    transform-origin: 0 95%;
    z-index: -1;
    transition: transform 175ms ease-out;
}

.btn-link:hover::before, .btn-link:focus::before {
    transform: scale(1, 1);
}







