/* =============================================
                Variables 
==============================================*/

:root {
    --black80: rgba(0, 0, 0, .8);
    --black40: rgba(0, 0, 0, .4);
    --black10: rgba(0, 0, 0, .1);
    --gray80: rgba(235, 235, 235, .8);
    --gray40: rgba(235, 235, 235, .4);
    --white:  rgba(255, 255, 255, 1);

    --title:  600 clamp(28px, 8vw, 32px) 'Crimson Text', serif;
    --subtitle:  600 clamp(24px, 8vw, 28px) 'Crimson Text', serif;
    --label:  italic 400 14px/18px 'Crimson Text', serif;
    --strong:  600 clamp(20px, 6vw, 24px) 'Crimson Text', serif;
}

.center-container { width: clamp(calc(100vw - 48px), 80%, 700px);}

.center-content { display: grid; place-content: center; text-align: center;}


/* =============================================
                 Animations 
==============================================*/

@keyframes scroll {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(7px);
    }
}