/* =============================================
                Position 
==============================================*/

.center-container {
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
}

.center-content { text-align: center; }

.flex-center { display: flex; align-items: center; justify-content: center;}

.vertical { margin: auto 0; }


/* =============================================
                 Colors 
==============================================*/

:root {
    --black80: rgba(0, 0, 0, .8);
    --black40: rgba(0, 0, 0, .4);
    --black10: rgba(0, 0, 0, .1);
    --gray80: rgba(235, 235, 235, .8);
    --gray40: rgba(235, 235, 235, .4);
    --white:  rgba(255, 255, 255, 1);
}



/* =============================================
                 Fonts 
==============================================*/

:root {
    --title:  bold 8rem sans-serif;
    --subtitle:  bold 2.6rem sans-serif;
    --label:  bold 1.5rem sans-serif;
    --text:  lighter 1.3rem sans-serif;
}

.section-title {
    font: var(--subtitle);
    padding: 6rem 0 1rem;
}

/* =============================================
                Buttons 
==============================================*/

.btn-link {
    color: var(--black80);
    border: 1px solid var(--black80);
    text-decoration: none;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn-link:hover {
    color: var(--white);
    background-color: var(--black80);
}







