/* =============================================
                   Navbar 
==============================================*/

.navbar {
	display: flex;
	position: fixed;
	width: 100vw;
	height: 5rem;
	border-bottom: solid 1px var(--black10);
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: saturate(180%) blur(10px);
	z-index: 10;
}

.nav-content {
	display: flex;
	justify-content: space-between;
	z-index: 11;
}

.logo,
.logo img {
	margin: auto 0;
	height: 32px;
}

.btn-small {
	border-radius: 16px;
	padding: 8px 16px; 
}

/* =============================================
                MainHeader 
==============================================*/

.header { padding-top: 12rem; }

.avatar {
	height: auto;
	max-width: 80px;
	border-radius: 40px;
}

.logotipo {
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 1rem;
}

.intro-title {
	font: var(--title);
	letter-spacing: -8px;
}

.intro-text { 
	font: var(--text);
	padding: 0 2rem;
}

.btn-container { margin: 4rem 0 3rem; }

.btn-large {
	border-radius: 32px;
	padding: 1rem 1.8rem;
}

/* =============================================
                  Skills 
==============================================*/

.skills {
	margin-top: 8rem;
	background-color: var(--gray40);
}

.skill-list {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 5rem 20rem;
	padding-bottom: 8rem;
}

.skill-header { display: flex; }

.skill-image {
	width: 60px;
	height: 60px;
	background-color: #97CDFF;
	border-radius: 60px;
	margin-right: 1rem;
}

.skill-title { font: var(--labels); }

.skill-text {
	max-width: 350px;
	font: var(--content);
}


/* =============================================
                  Cases 
==============================================*/

.cases { margin-top: 8rem; }

.case-content {
	width: 100%;
	height: 600px;
	border-radius: 1rem;
	margin-bottom: 6rem;
}

.case-1 {	background-color: #FFC6CF;	}
.case-2 {	background-color: #7177D2;	}
.case-3 {	background-color: #E6EFF7;	}

/* =============================================
                  Footer 
==============================================*/

footer { border-top: 1px solid var(--gray80); }

.footer-content { float: left; }

.contact-info { float: right; }

.contact-info { margin-bottom: 10rem; }

.footer-text {
	font: var(--text);
	max-width: 430px;
}

.copyright {
	font: var(--content);
	margin-top: 7rem;
}

.contact-info a {
	font: var(--label);
	text-decoration: none;
	color: var(--black80);
	transition: color .3s ease-in-out;
}

.footer-link:hover {
	text-decoration: underline;
}

.email:hover { color: #0078D4; }
.linkedin:hover { color: #0E76A8; }
.dribbble:hover { color: #EA4C89; }
.whatsapp:hover { color: #25D366; }






