/* =============================================
                MainHeader 
==============================================*/

.header { padding-top: 8rem; gap: 64px;}

.intro-title { font: var(--title); }

.rodrigo-logo { height: clamp(40px, 11vw, 48px)}

.logo { height: 100%; }

.scroll-to-icon {
	position: relative;
	margin: 4rem auto 2rem;
	width: 20px;
	height: 30px;
	border-radius: 25px;
	box-shadow: inset 0 0 0 2px var(--black80);
	transition: all .3s;
	transform: translateY(0);
}

.scroll-to-icon:after {
	position: absolute;
	content: '';
	width: 4px;
	height: 6px;
	margin-left: -2px;
	background-color: var(--black80);
	top: 8px;
	border-radius: 2px;
	animation: scroll 1.5s infinite;
}


/* =============================================
                  Cases 
==============================================*/

.cases { 
	display: grid;
	grid-gap: 32px;
}

.case-content {
	background-color: var(--gray80);
	height: 260px;
}

/* =============================================
                  	Past 
==============================================*/

.items {
	display: grid;
	grid-gap: 32px;
	padding-top: 20px;
}

.item {
	display: grid;
	grid-gap: 16px;
}

.item-title {
	display: flex;
	justify-content: space-between;
}

/* =============================================
                  About 
==============================================*/

.about {
	display: grid;
	grid-gap: 24px;
	padding-top: 20px;
}

.about p:first-child {
	font: var(--strong);
}


/* =============================================
                  Footer 
==============================================*/

.footer-items {
	display: grid;
	grid-gap: 32px;
	margin-bottom: 20vw;
}

.item-link {
	transition: all .3s ease-in-out; 
	text-decoration: none;
	color: var(--black80);
}

.about-links {
	padding: 2px 8px;
}

.about-links:hover {
	background: #191919;
	box-shadow: 13px 32px 36px -14px rgba(25, 25, 25, 0.22);
	transition: all .3s ease-in-out;
}

.about-title {
	margin: 0 0 8px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
}

.about-links:hover * {
	color: #fafafa;
	transition: all .4s ease-in-out;
}